[submodule "samples"]
	path = samples
	url = https://github.com/rob-luke/BIDS-NIRS-Tapping.git
[submodule "lib/matlab/easyh5"]
	path = lib/matlab/easyh5
	url = https://github.com/fangq/easyh5.git
[submodule "lib/matlab/jsnirfy"]
	path = lib/matlab/jsnirfy
	url = https://github.com/fangq/jsnirfy.git
