name: Spellcheck Action
on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
      
jobs:
  build:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
    # The checkout step
    - uses: actions/checkout@master
    - uses: rojopolis/spellcheck-github-actions@0.14.0
      name: Spellcheck
      with:
        task_name: Markdown
        config_path: .github/workflows/spellcheck.config
